*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,+50%);
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    transition: scale ease-in-out 1000ms;
}
button:hover{
    cursor: pointer;
    background-color: aqua;
    scale: 1.5;
}